:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --text-main-color: #000000;
  --text-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  background-color: #fff;
  font-family: 'Roboto', font-family;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  cursor: pointer;
}

.header-link-current {
  color: #2196f3;
}

.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.header .logo {
  color: var(--text-main-color);
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-word {
  color: var(--accent-color);
}

.header-mail {
  color: var(--accent-color);
}

/*Site nav*/

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.surrent {
  color: var();
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}

/*Hero*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--text-color);
  background-color: var(--accent-color);
}

/*Features section*/
.features .features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-discription {
  font-size: 14px;
  line-height: 1.71;
}

/*About section*/

/*Team section*/
.team-section {
  background-color: #f5f4fa;
}
.team-section .subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-position {
  line-height: calc(19 / 16);
  text-align: center;
}

/*Footer sectiom*/
.footer {
  background-color: #2f303a;
}
.footer .footer-word {
  color: var(--accent-color);
}
.footer .logo {
  color: var(--text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.contacts-item .contacts-link {
  font-family: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.contacts-item .contacts-link:hover {
  color: var(--accent-color);
}

.footer .contacts-adress {
  color: var(--text-color);
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer .contacts-adress:hover {
  color: var(--accent-color);
}

/*Portfolio*/
.portfolio-item {
  color: var(--title-text-color);
}

.filter button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: F5F4FA;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio .link {
  text-decoration: none;
}
